spring: 
    profiles: 
        active: 
        - dev
---
spring: 
    profiles: dev
    application: 
        name: microservice-config-echo-dev
---
spring: 
    profiles: test
    application: 
        name: microservice-config-echo-test
